---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BreadcrumbNavigation from "../../components/BreadcrumbNavigation.astro";
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import { render } from "astro:content";
import { format } from "date-fns";

export const getStaticPaths = (async () => {
  const postEntries = await getCollection("posts");
  return postEntries.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post: post } = Astro.props;
const { Content } = await render(post);
---

<DefaultPageLayout title={post.data.title}>
  <div class="prose-content">
    <h1>{post.data.title}</h1>
    <p>
      <em>Published: {format(post.data.datePublished, "yyyy-MM-dd")}</em>
      {
        post.data.dateUpdated && (
          <em> | Updated: {format(post.data.dateUpdated, "yyyy-MM-dd")}</em>
        )
      }
    </p>
    <Content />
  </div>
</DefaultPageLayout>
