---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BreadcrumbNavigation from "../../components/BreadcrumbNavigation.astro";
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const postEntries = await getCollection("posts");
  return postEntries.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post: post } = Astro.props;
const { Content } = await render(post);
---

<DefaultPageLayout>
  {/* Custom navigation to use page title as segment instead of URL */}
  <BreadcrumbNavigation
    additionalSegments={[
      {
        url: "/posts/",
        title: "Posts",
      },
      {
        url: `/posts/${post.id}/`,
        title: post.data.title,
      },
    ]}
    slot="navigation"
  />

  <h1>{post.data.title}</h1>
  <p>
    <em>Published: {post.data.datePublished.toLocaleDateString()}</em>
    {
      post.data.dateUpdated && (
        <em> | Updated: {post.data.dateUpdated.toLocaleDateString()}</em>
      )
    }
  </p>
  <Content />
</DefaultPageLayout>
