@theme {
  --breakpoint-lg: 60rem; /* 960px */

  --default-font-family: "Mulish";
  --default-mono-font-family: "Cascadia Code";
  --font-display: var(--default-mono-font-family, var(--font-sans));
}

@theme inline {
  /*
   * Palette
   */
  --color-theme-primary: #f46f1b;
  --color-theme-light: #dfd8eb;
  --color-theme-dark: #090d14;

  /*
   * Design tokens
   */
  --color-theme-headings: var(--color-theme-headings);
  --color-theme-text: var(--color-theme-text);
  --color-theme-bg: var(--color-theme-bg);
  --color-theme-bg-inline-code: var(--color-theme-bg-inline-code);
}

/*
 * Light theme
 */
.theme-orange {
  /*
   * Design tokens
   */
  --color-theme-headings: var(--color-theme-primary);
  --color-theme-text: var(--color-theme-dark);
  --color-theme-bg: #f7f5fa;
  --color-theme-bg-inline-code: rgba(var(--color-gray-800), 0.25);
}

/*
 * Dark theme
 */
.theme-orange {
  @media (prefers-color-scheme: dark) {
    /*
     * Design tokens
     */
    --color-theme-headings: var(--color-theme-primary);
    --color-theme-text: var(--color-theme-light);
    --color-theme-bg: var(--color-theme-dark);
    --color-theme-bg-inline-code: rgba(var(--color-gray-200), 0.25);
  }
}

.theme-blue {
  --color-theme-primary: #16c6da;
  --color-theme-dark: #090d14;
  --color-theme-light: #dfd8eb;
}
