---
import { getEntry } from "astro:content";
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import { render } from "astro:content";
import TextCard from "../components/TextCard.astro";
const indexContent = await getEntry("pageContent", "index");

if (!indexContent) {
  throw new Error("Could not find index page!");
}

const { Content } = await render(indexContent);
---

<DefaultPageLayout>
  <div class="prose-content">
    <Content />
  </div>
</DefaultPageLayout>
