---
import { getCollection } from "astro:content";
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = (await getCollection("posts")).sort(
  (a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime()
);
---

<DefaultPageLayout>
  <h1>Posts</h1>

  <p>
    Here's a collection of articles, instructions, notes and other random things
    I've written.
  </p>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={"/posts/" + post.slug}>{post.data.title}</a>{" "}
          <small class="right">
            <em> {post.data.datePublished.toLocaleDateString()}</em>
          </small>
        </li>
      ))
    }
  </ul>
</DefaultPageLayout>

<style>
  .right {
    float: right;
  }
</style>
