---
import { getCollection } from "astro:content";
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import PostsList from "../components/PostsList.astro";

const allPosts = (await getCollection("posts")).sort(
  (a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime(),
);
---

<DefaultPageLayout title="Posts">
  <div class="prose-content">
    <h1>Posts</h1>

    <p>
      Here's a collection of articles, instructions, notes and other random
      things I've written.
    </p>
  </div>
  <PostsList class="mt-4" posts={allPosts} />
</DefaultPageLayout>
