---
import { getCollection } from "astro:content";
import ToolsGridItem from "../components/ToolsGridItem.astro";
import { sortBy } from "es-toolkit";
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";

// TODO - Maybe sort manually instead of alphabetically?
const tools = sortBy(await getCollection("tools"), ["id"]);
---

<DefaultPageLayout title="Tools">
  <div class="prose-content">
    <h1>Tools</h1>
    <p>
      These are the tools I use (or have used) to build things. You can select
      some of them to see how I've configured them to my liking. Feel free to
      explore, copy and get inspired!
    </p>
    <div class="grid grid-cols-8 gap-4 mt-16">
      {tools.map((tool) => <ToolsGridItem tool={tool} />)}
    </div>
  </div>
</DefaultPageLayout>
