---
interface Props {
  /**
   * Title when not using `<slot="header">`
   */
  title?: string;
}

const { title = "" } = Astro.props;
---

<article class="border-2 p-4">
  <header>
    <slot name="header">
      {title && <h2 class="text-4xl mb-4 text-theme-headings">{title}</h2>}
    </slot>
  </header>
  <slot />
</article>
