---
import type { CollectionEntry } from "astro:content";
import { normalizeTrailingSlash } from "@reunmedia/astro-normalize-trailing-slash";
import { format } from "date-fns";
import type { HTMLAttributes } from "astro/types";

interface Props {
  posts: CollectionEntry<"posts">[];
  class?: HTMLAttributes<"div">["class"];
}

const { posts, class: className = "" } = Astro.props;
---

<div class:list={[className]}>
  <ul>
    {
      posts.map((post) => (
        <li class="mt-2 flex items-center justify-between gap-2">
          <a
            class="underline"
            href={normalizeTrailingSlash("/posts/" + post.id)}
          >
            {post.data.title}
          </a>
          <small class="text-nowrap">
            <em>{format(post.data.datePublished, "yyyy-MM-dd")}</em>
          </small>
        </li>
      ))
    }
  </ul>
</div>
