---
import type { CollectionEntry } from "astro:content";
import BaseCard from "./BaseCard.astro";
import { Icon } from "astro-icon/components";
import { render } from "astro:content";
import DividedHorizontalList from "./DividedHorizontalList.astro";
import { getToolLinks } from "../utils/getToolLinks";
import TagCollection from "./TagCollection.astro";

interface Props {
  tool: CollectionEntry<"tools">;
}

const { tool } = Astro.props;

const { Content } = await render(tool);
---

<BaseCard class="flex items-center">
  <Icon
    name={tool.data.icon ?? tool.data.defaultIcon}
    class="object-cover h-auto min-w-16"
  />
  <div class="flex flex-col justify-between p-4 leading-normal grow">
    <div class="flex items-center">
      <h3 class="h3 grow">
        {tool.data.title}
      </h3>
      <TagCollection tags={tool.data.tags} />
    </div>
    <div class="mt-2 mb-3 prose-content flex-1">
      <Content />
    </div>
    <div>
      <DividedHorizontalList items={getToolLinks(tool.data.links)} />
    </div>
  </div>
</BaseCard>
