---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import LinkOrText from "./LinkOrText.astro";

interface Props {
  tool: CollectionEntry<"tools">;
}

const { tool } = Astro.props;
---

<div>
  <LinkOrText href={tool.body ? `/tools/${tool.id}/` : ""}>
    <Icon class="mx-auto w-16 h-16" name={tool.data.icon} />
    <span class="block pt-4 text-center">
      {tool.data.title}
    </span>
  </LinkOrText>
</div>
