---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import LinkOrText from "./LinkOrText.astro";
import PillBadge from "./PillBadge.astro";

interface Props {
  tool: CollectionEntry<"tools">;
  numberOfSubTools?: number;
}

const { tool, numberOfSubTools = 0 } = Astro.props;
---

<div>
  <LinkOrText
    class="relative"
    href={tool.body || numberOfSubTools ? `/tools/${tool.id}/` : ""}
  >
    {
      numberOfSubTools > 0 && (
        <PillBadge
          class="absolute top-0 right-0 -translate-y-1/2"
          text={`+ ${numberOfSubTools}`}
        />
      )
    }
    <Icon
      class="mx-auto w-16 h-16"
      name={tool.data.icon ?? tool.data.defaultIcon}
    />
    <span class="block pt-4 text-center">
      {tool.data.title}
    </span>
  </LinkOrText>
</div>
