---
import "../styles/tailwind-base.css";
import "@fontsource/cascadia-code";
import "@fontsource/mulish";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="theme-orange">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-theme-light dark:bg-theme-dark">
    <slot />
  </body>
</html>
