---
import PicoLayout from "../layouts/PicoLayout.astro";
import BreadcrumbNavigation from "../components/BreadcrumbNavigation.astro";
---

<PicoLayout>
  <slot name="navigation">
    <BreadcrumbNavigation />
  </slot>

  <slot />

  <Fragment slot="footer">
    <p>
      <small
        >All content &copy; Kimmo Salmela &mdash; Source on
        <a href="https://github.com/Cryszon/cryszon.github.io">
          GitHub</a
        ></small
      >
    </p>
  </Fragment>
</PicoLayout>
